section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
<<<<<<< HEAD
	color: #4d4dff;
=======
>>>>>>> 161b3d5a617dd27fd5e6fe09550d468bde694f32
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}